* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(../../images/backgroundLp.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.container1 {
  color: white;
  background-color: $background-color;
  border-radius: 14px;
  width: 450px;
  height: auto;
}

.logo {
  width: 200px;
}

.paragraph {
  margin: 10px 0px;
}

.btn-send {
  color: $button-color;
  border: 1px solid $button-color;

  &:hover {
    background-color: $button-color;
    color: white;
  }
}

.footer {
  color: white;
  margin-top: 10px;
  margin-bottom: -35px;
}
